<!-- <h2 id="title">Welcome to Ember</h2> -->
<div class="container">
{{outlet}}
</div>


<footer>
  <p class="text-center">
    Copyright © 2015
    {{#link-to 'index'}}Home{{/link-to}}
  </p>


</footer>
